{% extends "base.html" %}
{% load static %}

{% block title %}Homepage | CyberDefender{% endblock %}

{% block content %}
    <br>
<div class="text-end">
    <form action="logout" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>
</div>

    <div class="row justify-content-center">
        <p class="fs-2">
            Benvenuto, {{ data.nome }} {{ data.cognome }}
        </p>

        <br>


        <div class="col-sm-6">
            <p class="fs-2">
                Storico Analisi
            </p>

            <div class="col-md-6">
                {% for report in reports %}
            <div>
                {% if report.pdf_report %}
                    <a href="{{ report.pdf_report.url }}">
                        <strong>Analisi: {{ report.rilevamento_attacco.titolo }}</strong>
                    </a><br>
                    Data: {{ report.data_esecuzione|date:"d/m/Y" }}<br>
                    Ora: {{ report.ora_esecuzione|time:"H:i" }}
                {% else %}
                    <strong>Analisi: {{ report.rilevamento_attacco.titolo }}</strong><br>
                    (PDF non disponibile)<br>
                    Data: {{ report.data_esecuzione|date:"d/m/Y" }}<br>
                    Ora: {{ report.ora_esecuzione|time:"H:i" }}
                {% endif %}
                    </div>
                {% empty %}
                    <p>Nessuna analisi trovata.</p>
                {% endfor %}
            <hr>
            <br>
                {% for consult in consultazioni %}
                    <div>
                        <strong>{{ consult.attacco.nome_attacco }}</strong><br>
                        Data: {{ consult.data_consultazione|date:"d/m/Y" }}<br>
                        Ora: {{ consult.ora_consultazione|time:"H:i" }}
                    </div>
                {% empty %}
                    <p>Nessuna consultazione trovata.</p>
                {% endfor %}

            {% if richieste %}
                {% for richiesta in richieste %}
                    <div>
                        <strong>Data: </strong>{{ richiesta.data_richiesta|date:"d/m/Y" }}<br>
                        <strong>Ora: </strong>{{ richiesta.ora_richiesta|time:"H:i" }}<br>

                        {% if richiesta.numero_telefonico %}
                            <strong>Numero Telefonico: </strong>{{ richiesta.numero_telefonico.numero }}<br>
                            <strong>Operatore: </strong>{{ richiesta.numero_telefonico.operatore }}<br>
                        {% endif %}
                        {% if richiesta.messaggio_sospetto %}
                            <strong>Messaggio Sospetto: </strong>{{ richiesta.messaggio_sospetto.testo|truncatewords:20 }}<br>
                            <strong>Mittente: </strong>{{ richiesta.messaggio_sospetto.mittente }}<br>
                        {% endif %}
                        <strong>Esito: </strong>{{ richiesta.esito }}
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>Nessuna richiesta di analisi trovata.</p>
            {% endif %}
            


            </div>
        </div>
</div>



{% endblock %}