{% extends "base.html" %}
{% load static %}

{% block title %}Login | CyberDefender{% endblock %}

{% block content %}
    
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border border-danger">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login</h2>

                <form method="post" action="/login">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-danger ">Login</button>
                    </div>
                </form>
                <p class="text-danger">
                    {{ error_message }}
                </p>

                <p class="text-success">
                    {{ success_message }}
                </p>
                

                <div class="text-center">
                    <p class="mb-2">Non ancora registrato?</p>
                    <form action="/registration">
                        <button type="submit" class="btn btn-outline-light">Registrati</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
    
{% endblock %}