{% extends "base.html" %}
{% load static %}

{% block title %}Rilevamento Attacco | CyberDefender{% endblock %}

{% block content %}
<br/>
<a href="{% url 'render_homepage' %}" class="text-decoration-none text-reset text-bordeaux text-start">⭠ Indietro</a>

<br>

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% else %}
<div class="d-flex justify-content-center">
<div class="col-md-6 mb-3">
    <div class="contact-box p-3 border rounded">

        {% if error_msg %}
            <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}

        {% if esiti %}
            <div class="alert alert-info">
                <ul>
                {% for esito in esiti %}
                    <li>
                        <strong>{{ esito.titolo }}</strong> ({{ esito.categoria }}) - {{ esito.esito }} <br>
                        <em>Descrizione:</em> {{ esito.descrizione }}<br>
                        <em>Livello di rischio:</em> {{ esito.livello_rischio }}<br>
                        <em>Contromisure:</em> {{ esito.contromisure }}<br>
                        {% if esito.pdf_url %}
                            - <a href="{{ esito.pdf_url }}" target="_blank">Scarica report PDF</a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <ol>
                {% for idx, attacco_id, testo_domanda in domande %}
                    <li class="mb-3">
                        <p>{{ testo_domanda }}</p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="domanda_{{ idx }}" id="si_{{ idx }}" value="sì" required>
                            <label class="form-check-label" for="si_{{ idx }}">Sì</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="domanda_{{ idx }}" id="no_{{ idx }}" value="no">
                            <label class="form-check-label" for="no_{{ idx }}">No</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="domanda_{{ idx }}" id="nonsoco_{{ idx }}" value="non so">
                            <label class="form-check-label" for="nonsoco_{{ idx }}">Non so</label>
                        </div>
                    </li>
                {% endfor %}
            </ol>

            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'risultati_attacco' %}" class="btn btn-custom">Invia</a>
            </div>
        </form>
    </div>
</div>
</div>
    {% endif %}
{% endblock %}
