{% extends "base.html" %}
{% block title %}Risultati Rilevamento Attacco | CyberDefender{% endblock %}

{% block content %}
<br/>
<a href="{% url 'index' %}" class="text-decoration-none text-reset text-bordeaux text-start">⭠ Indietro</a>
<br/>
<div class="container my-5">
    <h2>Risultati dell'analisi</h2>

    {% for risultato in esiti %}
        <div class="card my-3">
            <div class="card-header text-bordeaux">
                <h4>{{ risultato.titolo }}</h4>
                <small class="text-muted">{{ risultato.categoria }}</small>
            </div>
            <div class="card-body">
                <p><strong>Esito:</strong> {{ risultato.esito }}</p>

                {% if risultato.titolo != "Nessun attacco rilevato" %}
                    <p><strong>Descrizione:</strong><br> {{ risultato.descrizione|linebreaksbr }}</p>
                    <p><strong>Contromisure:</strong><br> {{ risultato.contromisure|linebreaksbr }}</p>
                    <p><strong>Livello di rischio:</strong> {{ risultato.livello_rischio }}</p>


                    <div class="d-flex justify-content-center mt-4">
                        {% if risultato.pdf_url %}
                            <a href="{{ risultato.pdf_url }}" target="_blank" class="btn btn-custom">Scarica PDF</a>
                        {% else %}
                            <span class="text-muted">PDF non disponibile</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'rilevamento_attacco' %}" class="btn btn-custom">Fai un altro Test</a>
    </div>
</div>
{% endblock %}
